.loader{
  margin: auto;
  display: flex;
  padding-top: 10rem;
  height: 10vh;
}

.loaderText{
  text-align: center;
  font-weight: bold;
}

.nameAddress{
    display: flex;
    justify-content: space-between;
}

.userNamePhrase{
    display: flex;
}

.emailPhone{
    display: flex;
}

.moreDetails{
    display: flex;
    justify-content: space-between;
}

.posts{
    display: grid;
    grid-template-columns:auto auto auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.header select{
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
 .header select:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

.header a button{
    cursor: pointer;
    background-color: aliceblue;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    border: 1px solid; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
 .header a button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

h3{
    text-align: center;
}

.personalDetails{
    border: 1px solid;
    margin: 1rem;
    padding: 1rem 3rem;
    border-radius: 15px;
}

.cardContainer{
    border: 1px solid;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
 .cardContainer:hover {
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }

.cardContainer h6{
    font-size: 1.2rem;
    text-align: center;
}

.clockAndBtn{
    display: flex;
}

.clockAndBtn p{
    margin: 0;
}

.clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    background-color: rgb(15,32,39);
    color: white;
    padding: 0.1rem 2rem;
}


.btn {
    background-color: rgb(182, 215, 168);
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popupOverlay h6{
    font-size: 1.5rem;
  }
  
  .popupContent {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
  }

  



/* Mobile Devices */
@media only screen and (max-width: 767px) {
    .nameAddress, .userNamePhrase, .emailPhone, .moreDetails, .posts, .header, .personalDetails, .cardContainer, .clockAndBtn {
      flex-wrap: wrap;
    }
    
    .personalDetails {
        display: block;
        padding: 1rem 1rem;
    }

    .clockAndBtn{
        justify-content: center;
        margin: 1rem;
        overflow: hidden;
    }

    .header select {
      margin: 1rem 0rem 1rem 0rem;
      text-align: center;
    }
  
    .header a button {
      margin-top: 1rem; /* Add space between elements */
    }

    .posts{
        grid-template-columns:auto
    }

    .popupContent{
        width: 100%;
    }
  }
  
  /* Tablets */
  @media only screen and (min-width: 768px) and (max-width: 990px) {
     .personalDetails{
        padding: 1rem 1rem;
     }

     .posts{
        grid-template-columns: auto auto;
     }

     .userNamePhrase, .emailPhone{
        flex-direction: column;
     }

     .popupContent{
        width: 60%;
     }
  }
  
  